.chapter-page {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back-to-novel-link {
  align-self: flex-start;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.back-to-novel-link:hover {
  color: #0056b3;
}

.chapter-page h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: 20px 0;
  font-size: 2em;
  margin: 20px auto;
  word-wrap: break-word;
  line-height: 1.5;
}

.chapter-controls {
  display: flex;
  gap: 10px;
}

.chapter-content {
  padding: 20px;
  margin: 0 auto;
  max-width: 100wh;
  white-space: pre-wrap;
}
