.font-size-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #2f4f4f;
  color: #f5deb3;
  padding: 5px; /* Réduire la taille du padding */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 0.8em; /* Réduire la taille de la police globale */
}

.font-size-menu p {
  margin: 5px 0; /* Ajouter un peu de marge verticale */
}

.font-size-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-size-control button {
  background-color: #8b4513;
  color: white;
  border: none;
  padding: 2px 6px; /* Réduire encore la taille des boutons */
  margin: 0 5px;
  cursor: pointer;
  font-size: 0.8em; /* Réduire la taille de la police des boutons */
  border-radius: 5px;
}

.font-size-control span {
  font-size: 0.8em; /* Réduire la taille de la police du texte */
  margin: 0 5px;
}
