.login-page {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  font-family: "Hind", sans-serif;
}

.login-page h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.login-page label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-page input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.login-page .error {
  color: red;
  margin-bottom: 15px;
}

.login-page .login-btn {
  background-color: #28a745;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: auto;
  max-width: 200px;
  display: inline-block;
}

.login-page .login-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #28a745;
  }
  50% {
    transform: scale(1.1);
    background-color: #218838;
  }
  100% {
    transform: scale(1);
    background-color: #28a745;
  }
}
