* {
  box-sizing: border-box;
}

body,
button,
input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}

body,
input {
  color: #2f4f4f;
}

body {
  background: #f5f5dc;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #40545c;
  color: #f5deb3;
  padding: 10px 20px;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.navbar-section {
  flex: 1;
}

.navbar-section:first-child {
  text-align: left;
}

.navbar-section.middle-section {
  flex: 2;
  text-align: center;
}

.navbar-section.right-section {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.navbar a {
  color: #f5deb3; /* Texte beige clair */
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 15px; /* Espacement entre les liens */
}

.navbar h1 {
  margin: 0;
  font-size: 1.5em;
}

.search-section {
  display: flex;
  align-items: center;
  position: relative;
}

.search-section form {
  display: flex;
  align-items: center;
  position: relative;
  transition: width 0.4s ease;
}

.search-section form.active {
  width: 250px;
}

.search-toggle-btn {
  width: 36px;
  height: 36px;
  background-color: #2f4f4f;
  border: none;
  border-radius: 18px;
  color: #f5deb3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.search-toggle-btn:hover,
.auth-toggle-btn:hover {
  background-color: #8b4513; /* Couleur au survol */
}

.search-input {
  flex-grow: 1;
  height: 36px;
  padding: 0 10px;
  border: none;
  border-radius: 18px;
  background-color: #f5deb3;
  color: #2f4f4f;
  transition: width 0.4s ease, opacity 0.4s ease;
  width: 0;
  opacity: 0;
  position: absolute;
  right: 0;
}

.search-input.active {
  width: 200px;
  opacity: 1;
  position: relative;
  padding-right: 36px; /* Ajustement pour le bouton de soumission */
}

.search-submit-btn {
  width: 34px; /* Réduction de la largeur */
  height: 34px; /* Réduction de la hauteur */
  background-color: transparent;
  border: none;
  color: #2f4f4f;
  cursor: pointer;
  position: absolute;
  right: 1px; /* Ajustement de la position */
  border-radius: 18px; /* Arrondi du bouton de soumission */
  display: flex;
  justify-content: center;
  align-items: center; /* Centrage de l'icône */
}

.search-submit-btn:hover {
  background-color: #8b4513; /* Couleur au survol */
}

.search-submit-btn i {
  font-size: 1.2em;
  color: #2f4f4f;
}

.suggestions-container {
  position: absolute;
  top: 50px; /* Ajustez selon votre design */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item.selected {
  background-color: #8b4513; /* Couleur de surbrillance */
  color: #fff;
  border-radius: 8px;
  animation: glow 1s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #8b4513;
  }
  50% {
    box-shadow: 0 0 20px #8b4513;
  }
  100% {
    box-shadow: 0 0 5px #8b4513;
  }
}

.add-novel-btn {
  background-color: #28a745; /* Vert pour ajouter */
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 15px;
  white-space: nowrap;
}

.add-novel-btn:hover {
  background-color: #218838;
}

.auth-link {
  background-color: #007bff; /* Bleu pour les liens d'authentification */
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
  width: 100%;
}

.auth-link:hover {
  background-color: #0056b3;
}

.auth-toggle-btn {
  width: 36px;
  height: 36px;
  background-color: #2f4f4f;
  border: none;
  border-radius: 18px;
  color: #f5deb3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
  margin-left: 15px; /* Ajout de marge entre la barre de recherche et l'icône de connexion */
}

.auth-buttons {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #2f4f4f;
  padding: 10px;
  border-radius: 8px;
}

@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #f1f1f1;
  }
  body {
    background: #171717;
  }
  .search-input {
    background-color: #3d3d3d;
  }
}
