.novel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.novel-card {
  display: block;
  width: 200px;
  height: 300px;
  text-decoration: none;
  color: inherit;
  position: relative;
  margin-bottom: 40px;
}

.novel-card-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.novel-card-background:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.novel-card-content {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.novel-card-content h3 {
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  max-height: 2.4em;
  color: inherit;
}

.novel-card-content a {
  text-decoration: none;
}

.novel-card-content a:hover {
  text-decoration: none;
}
