.search-results-page {
  padding: 20px;
  text-align: center;
}

.search-results-page h2 {
  margin-bottom: 40px;
}

.novel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
